html, body, #mount {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  padding-right: 20%;
}

.default-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}










//////////////
// Components
@import './stylesheets/chessboard';
